body{
    background-color: rgb(226, 226, 226);
    margin: 0;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    flex: auto;

}

header{
    display: flex;
    flex-direction: column;
    margin: auto;
}

nav{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    
}

.navLink{
    color: burlywood;
    text-decoration: none;
    padding: 0 20px;
    box-shadow: -1px 0px 0px 0px black, 1px 0px 0px 0px black;
}

.fastInfSec{
    display: flex;
    flex-direction: row;
    margin-top: 25px;

}

.fastInfoArt{
    box-shadow: -1px 0px 0px 0px black, 1px 0px 0px 0px black;
    text-align: center;

}

@media screen and (max-width: 500px){
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .navLink{
        text-align: center;
        box-shadow:none;
        padding: 10px 0;
    }
}
